<div style="text-align: center">
<img width="200px" src="../../assets/zapp_logo.png">
<h4 class="ui header">
  Dieses Projekt wurde im Rahmen der Fachinformatiker-Umschulung beim <a href="http://www.bitlc.de"
    target="_blank">BITLC Business IT Learning Center</a> im Modul Web-Development durchgeführt und kommt daher in
  verschiedenen Versionen vor.<br><br>
  Diese Version wurde erstellt von:
</h4>

<div class="column">
  <h2 class="ui header">René Brodkorb</h2>
  <img width="200px" src="../../assets/rb.png">
  <div>
    <h3 class="ui header"><a href="mailto:service@pcrb.de">Kontakt</a></h3>
    <br>
  </div>
</div>

<h5 class="ui header">Die hier verwendeten Grafiken wurden entweder von René Brodkorb erstellt, oder sind Bestandteil
  des <a href="https://semantic-ui.com/" target="_blank">Semantic-UI CSS.</a></h5>
</div>