#paddingbody {
    padding-bottom: 3em;
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    min-height: 100px;
    max-height: 600px; 
    overflow: auto;
    text-align: left;
}
 
#footerfest {
    position: fixed;
    padding: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
}

#menuefest {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#border {
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}